layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane name="flex"
            pane name="gemini" command="gemini"
        }
        pane split_direction="horizontal" {
            pane name="claude" command="claude"
            pane name="codex" command="codex"
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}